@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 60px;
    background: linear-gradient(to bottom, #1A1A1A, transparent),
                radial-gradient(at 25.775842699982388% 39.0053357311203%, hsla(0, 0%, 10.196078431372548%, 1) 0%, hsla(0, 0%, 10.196078431372548%, 0) 100%),
                radial-gradient(at 22.798620893034116% 89.40838373202618%, hsla(0, 0%, 16.862745098039216%, 1) 0%, hsla(0, 0%, 16.862745098039216%, 0) 100%),
                radial-gradient(at 59.84388338557851% 69.0529804330226%, hsla(208.98876404494382, 77.3913043478261%, 22.54901960784314%, 1) 0%, hsla(208.98876404494382, 77.3913043478261%, 22.54901960784314%, 0) 100%),
                radial-gradient(at 2.795092232733243% 84.44780297608656%, hsla(140.35714285714286, 48.275862068965516%, 22.745098039215687%, 1) 0%, hsla(140.35714285714286, 48.275862068965516%, 22.745098039215687%, 0) 100%),
                radial-gradient(at 56.52838229139141% 10.195594785331108%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%),
                radial-gradient(at 53.55594647706753% 57.11127746610837%, hsla(0, 0%, 10.196078431372548%, 1) 0%, hsla(0, 0%, 10.196078431372548%, 0) 100%),
                radial-gradient(at 91.74418994302263% 91.84107248447081%, hsla(0, 0%, 16.862745098039216%, 1) 0%, hsla(0, 0%, 16.862745098039216%, 0) 100%),
                radial-gradient(at 25.49956661008076% 72.88347003199107%, hsla(208.98876404494382, 77.3913043478261%, 22.54901960784314%, 1) 0%, hsla(208.98876404494382, 77.3913043478261%, 22.54901960784314%, 0) 100%),
                radial-gradient(at 72.64797999970362% 27.63424868519354%, hsla(140.35714285714286, 48.275862068965516%, 22.745098039215687%, 1) 0%, hsla(140.35714285714286, 48.275862068965516%, 22.745098039215687%, 0) 100%),
                #1A1A1A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(34, 34, 34, 1) 100%), 
                url('/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    z-index: -1;
    animation: fadeInBackground 1.5s ease-in-out;
}

@keyframes fadeInBackground {
    0% { opacity: 0; }
    100% { opacity: 0.85; }
}

@keyframes fadeInOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.carte {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 12vw;
    max-width: 180px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    animation: fadeInOpacity 1.5s ease-in-out 0s;
    opacity: 0; 
    animation-fill-mode: forwards; 
}

.titre {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 15px 50px;
    width: 80%;
    max-width: 1200px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    animation: fadeInOpacity 1.5s ease-in-out 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.play {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 15px 40px;
    background: linear-gradient(135deg, #29d22f, #2E7D32);
    border-radius: 50px;
    border: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
    animation: fadeInOpacity 1.5s ease-in-out 0.3s; 
    opacity: 0; 
    animation-fill-mode: forwards;
}

.play:hover {
    background: linear-gradient(135deg, #27dc30, #0d9c14);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.play:active {
    transform: translate(-50%, 0) scale(0.95);
}

.explorer, .compete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    min-height: 40vh;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.text-planet {
    flex: 1;
    margin-left: 300px;
}

.text-planet h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

.text-planet p {
    font-size: 18px;
    color: #ffffff;
}

.image-planet {
    flex: 1;
    margin-right: 150px;
}

.globe-image {
    width: 400px;
    height: auto;
}

.compete {
    flex-direction: row-reverse;
}

.text-compete {
    flex: 1;
    margin-right: 250px;
    font-size: 25px;
}

.text-compete h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

.text-compete p {
    font-size: 18px;
    color: #ffffff;
}

.image-compete {
    flex: 1;
    margin-left: 250px;
}

.compete-image {
    width: 400px;
    height: auto;
}

.custom-hr {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    width: 60%;
    margin: 10px auto;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.faq-title {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.faq-line {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.faq-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.faq-container.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.faq-container.show {
    opacity: 1;
    transform: translateY(0);
}

.faq-item {
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.faq-toggle {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #ffffff;
}

.faq-answer p {
    margin: 10px 0;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
}


.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.popup.show {
    display: flex;
    opacity: 1; 
}

.popup-content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2.5rem;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.popup-content h2 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.popup-content p {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

button#loginBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
}

button#loginBtn:hover {
    background-color: #3e8e41;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .explorer, .compete {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5%;
        margin: 20px auto;
    }

    .text-planet, .text-compete {
        width: 45%;
        text-align: left;
        margin: 0;
    }

    .text-planet h1, .text-compete h1 {
        font-size: 32px;
    }

    .text-planet p, .text-compete p {
        font-size: 16px;
        line-height: 1.5;
    }

    .image-planet, .image-compete {
        width: 45%;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .explorer, .compete {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-planet, .text-compete {
        width: 90%;
        text-align: center;
    }

    .text-planet h1, .text-compete h1 {
        font-size: 28px;
    }

    .text-planet p, .text-compete p {
        font-size: 14px;
    }

    .image-planet, .image-compete {
        width: 70%;
        margin-top: 20px;
    }
}



@media (max-width: 480px) {
    .titre {
        font-size: 8vw;
        padding: 2vw 3vw;
    }

    .play {
        font-size: 5vw;
        padding: 2vw 4vw;
    }

    .text-planet, .text-compete {
        font-size: 5vw;
        margin: 0 auto;
    }

    .text-planet h1, .text-compete h1 {
        font-size: 28px;
    }

    .text-planet p, .text-compete p {
        font-size: 12px;
    }

    .image-planet, .image-compete {
        width: 60vw;
    }
}
