footer {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
}

.left-footer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 40px;
}

.footer-link {
    font-size: 16px;
    opacity: 0.8;
    color: #c0c0c0;
    text-decoration: none;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.footer-link:hover {
    transform: scale(1.05);
    opacity: 1;
    color: #fff;
}

.footer-link.active {
    font-weight: bold;
    color: #fff;
    opacity: 1;
}

.right-footer {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
