* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

    
}

body {
    padding-top: 60px;
    background-color: #222;

}

.image-container {
    position: relative;
    text-align: center;
    width: 100%;    
}

.background-section {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.85;
    position: relative;

}

.titre {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px 40px;
    width: 1200px; 
    height: 240px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.carte {
    position: absolute;
    top: 8%;
    left: 45%;
    width: 10%;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}



.play {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 15px 40px;
    background: linear-gradient(135deg, #29d22f, #2E7D32);
    border-radius: 50px;
    border: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
    top: 75%;
    right: 46%;
    z-index: 10000;
    transition: all 0.3s ease;
}


.play:hover {
    background: linear-gradient(135deg, #27dc30, #0d9c14);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.play:active {
    transform: scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}


