@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.left-header {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header-link {
    font-size: 16px;
    color: #c0c0c0;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    display: inline-block;
    margin-right: 20px;
}

.header-link.active, .header-link:hover {
    transform: scale(1.05);
    color: #fff;
    background-color: transparent;
    transform-origin: center;
}

.right-header .header-link {
    margin-right: 0;
}
