html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

main.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 50px; /* Espace en haut pour descendre le titre */
    position: relative;
}

.title-container h1 {
    font-size: 5vw;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    margin-bottom: 20px; /* Réduit l'espace sous le titre */
    text-align: center;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center;
}

.planet-container {
    width: 100%; /* La planète prend toute la largeur */
    display: flex;
    justify-content: center; /* Centre la planète horizontalement */
    align-items: center;
    margin-bottom: 20px; /* Espace entre la planète et le paragraphe */
}

#planet-viewer {
    width: 100%;
    height: auto;
}

.paragraphe-location {
    max-width: 800px; /* Élargit la largeur maximale du paragraphe */
    font-size: 1.2vw;
    color: #e0e0e0;
    line-height: 1.6;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    margin: 0 20px; /* Marge horizontale pour laisser de l'espace sur les côtés */
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.left-footer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 40px;
}

.footer-link {
    font-size: 16px;
    color: #c0c0c0;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}

.footer-link:hover {
    transform: scale(1.05);
    opacity: 1;
    color: #fff;
}

.footer-link.active {
    font-weight: bold;
    color: #fff;
    opacity: 1;
}

.right-footer {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
